main {
    padding: 2rem;
}

#title {
    color: #a239ca;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.pedido {
    padding: 1rem;
    background-color: #0e0b16;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #e7dfdd;
    text-align: end;
}

.jogo {
    display: flex;
    justify-content: space-between;
}

.nome-jogo:hover {
    cursor: pointer;
}

.subtotal {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

#not-found-div {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#fundo-erro {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10rem;
    background-color: #0e0b16;
    height: 10rem;
    width: fit-content;
    margin-bottom: 1rem;
}

#erro-icon {
    height: 100%;
}

h6:hover {
    cursor: pointer;
}