<main>
    <h2 id="title">Meus Pedidos</h2>
    <div *ngIf="aparecer">
        <div class="pedido" *ngFor="let jogo of listaJogos; let i = index;">
            <ul>
                <li class="jogo" *ngFor="let joguinho of jogo">
                    <span>{{ joguinho.NOME }}</span>
                    <span>{{ returnMoedaBrasileria(joguinho.PRECO) }}</span>
                </li>
                <p class="subtotal">
                    Subtotal: {{ returnMoedaBrasileria(listaPedidos[i].VALOR) }}
                </p>
            </ul>
        </div>
    </div>
    <div *ngIf="!aparecer">
        Nenhum pedido efetuado!
    </div>
</main>