<div>
    <div *ngIf="aparecer">
        <div *ngFor="let jogo of listaJogos; let i = index;">
            <ul>
                <li *ngFor="let joguinho of jogo">
                    Nome: {{ joguinho.NOME }} Preço: {{ returnMoedaBrasileria(joguinho.PRECO) }}
                    <div *ngFor="">
                    </div>
                </li>
                Subtotal: {{ returnMoedaBrasileria(listaPedidos[i].VALOR) }}
            </ul>
        </div>
    </div>
    <div *ngIf="!aparecer">
        Nenhum pedido efetuado!
    </div>
</div>