<main>
  <div>
    <div id="divFiltro">
      <div id="left-part">
        <h2 id="title">Filtros</h2>
        <input type="text" [(ngModel)]='palavraChave' (keyup)='pesquisarJogo()' placeholder="Pesquisar...">
      </div>
      <div id="right-part">

        <ng-multiselect-dropdown id="generos" [placeholder]="'Gêneros'" [settings]="dropdownSettings"
          [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="filtrarGenero()"
          (onSelectAll)="onSelectAll($event)" (onDeSelect)="filtrarGeneroDeSelect()"
          (onDeSelectAll)="onDeSelectAll($event)">
        </ng-multiselect-dropdown>

        <div id="ordenar" class="dropdown">
          <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><button class="dropdown-item" (click)='ordernarLista("ASC")'>A - Z</button></li>
            <li><button class="dropdown-item" (click)='ordernarLista("DESC")'>Z - A</button></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="jogo_container">
      <div *ngFor="let jogo of listaJogosFiltrada" class="card" style="width: 12rem;" (click)="redirecionarJogo(jogo.CODIGO)">
        <img src="{{ getPath(jogo.IMAGEM_NOME) }}" class="card-img-top" alt="{{ jogo.NOME }}">
        <div class="card-body">
          <h5 class="card-title">{{ jogo.NOME }}</h5>
          <p class="card-text">{{ getPreco(jogo.PRECO) }}</p>
        </div>
      </div>
    </div>
  </div>
</main>