<div>
  <input type="text" [(ngModel)]='palavraChave' (keyup)='pesquisarJogo()'>
  <button (click)='ordernarLista("ASC")'>Ordenar asc</button>
  <button (click)='ordernarLista("DESC")'>Ordenar desc</button>

  <ng-multiselect-dropdown [placeholder]="'Gêneros'" [settings]="dropdownSettings" [data]="dropdownList"
    [(ngModel)]="selectedItems" (onSelect)="filtrarGenero()" (onSelectAll)="onSelectAll($event)"
    (onDeSelect)="filtrarGeneroDeSelect()" (onDeSelectAll)="onDeSelectAll($event)">
  </ng-multiselect-dropdown>

  <div class="jogo_container" *ngFor="let jogo of listaJogosFiltrada" (click)="redirecionarJogo(jogo.CODIGO)">
    <img class="imagem_jogo" src="{{ getPath(jogo.IMAGEM_NOME) }}" alt="{{ jogo.NOME }}">
    <p>{{jogo.NOME}}</p>
    <p>{{getPreco(jogo.PRECO)}}</p>
  </div>
</div>