<div id="footer" *ngIf="mostrarFooter()">
  <div id="agradecimentos">
    <span>
      Obrigado por utilizar nossa loja!
    </span>
  </div>
  <div id="footer-central">
    <div id="left-part">
      <div class="contato">
        <img class="icon" src="../../assets/images/discordia.png" alt="Discord...">
        <span>Hideaky#3213</span>
      </div>
      <div class="contato">
        <img class="icon" src="../../assets/images/instagram.png" alt="Instagram...">
        <span>@kenzo_hideaky</span>
      </div>
    </div>
    <div class="contato">
      <img class="icon" src="../../assets/images/telefone.png" alt="Telefone...">
      <span>3307-7286</span>
    </div>
  </div>
  <div id="direitos">
    <span>@2022 Todos os Direitos reservados</span>
  </div>
</div>