<main>
  <h2 id="title">Adicionar Jogo</h2>
  <div id="adicionar-jogo-div">
    <h4>Preencha os dados</h4>
    <div id="campos">
      <div class="divisao-campos">
        <label for="nome">Nome</label>
        <input id="nome" type="text" [(ngModel)]="nome">

        <label for="preco">Preço</label>
        <input id="preco" type="number" [(ngModel)]="preco">

        <label for="faixaEtaria">Faixa etária</label>
        <input id="faixaEtaria" type="number" [(ngModel)]="faixaEtaria">

        <label for="sinopse">Sinopse</label>
        <input id="sinopse" type="text" [(ngModel)]="sinopse">
      </div>

      <div class="divisao-campos">
        <ng-multiselect-dropdown style="" id="generos" [placeholder]="'Gêneros'" [settings]="dropdownSettings"
          [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>

        <label for="imagem">Imagem URL</label>
        <input id="imagem" type="text" [(ngModel)]="imagem">

        <label for="imagem_principal">Imagem principal URL</label>
        <input id="imagem_principal" type="text" [(ngModel)]="imagem_principal">
      </div>
    </div>

    <button id="adicionar" (click)="adicionarJogo();">Enviar</button>
  </div>
</main>