main {
    padding: 2rem;
}

#title {
    color: #a239ca;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#adicionar-jogo-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
}

h4 {
    color: white;
    font-weight: bold;
}

#campos {
    display: flex;
    width: 100%;
}

.divisao-campos {
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    color: #e7dfdd;
}

input {
    border-radius: 0.3rem;
    background-color: #e7dfdd;
    width: 85%;
}

#adicionar {
}