<div>
  <input type="text" placeholder="Nome" [(ngModel)]="nome">
  <br>
  <input type="text" placeholder="Preço" [(ngModel)]="preco">
  <br>
  <input type="file" placeholder="Imagem" [(ngModel)]="imagem">
  <br>
  <input type="text" placeholder="Faixa Etária" [(ngModel)]="faixaEtaria">
  <br>
  <input type="text" placeholder="Sinopse" [(ngModel)]="sinopse">
  <br>
  <ng-multiselect-dropdown [placeholder]="'Gêneros'" [settings]="dropdownSettings" [data]="dropdownList"
    [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>
  <br>
  <button (click)="adicionarJogo();">Enviar</button>
</div>